.mainSection .container {
    gap: 5px;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    width: 920px;
    border-radius: 10px;

    margin-bottom: 25px;
}

/*  */

.mainSection .additionalInfo {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 65%;
    padding: 15px 0 0 25px;
    backdrop-filter: blur(5px);
    border: 3px solid #c3c7d86b;
    border-radius: 10px 0 0 10px;


}

.mainSection .city {
    font-size: 32px;
    font-weight: bold;
}

.mainSection .date {
    margin-top: 20px;
    font-size: 18px;
}


.mainSection button {
    position: absolute;
    bottom: 10px;
    right: 50%;
    transform: translateX(50%);
}

.mainSection .icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translateY(-50%) translatex(-50%);

    display: flex;
    flex-direction: column;
    align-items: center;
}

.mainSection .icon div {
    font-size: 24px;
    font-weight: 500;
    transform: translateY(-40px);
}

/*  */

.mainSection .weatherData {
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    width: 35%;
    height: auto;

    background:linear-gradient(135deg, #e5e7eb 0%,#c8ccd3 100%);
    padding: 25px;
    border-radius: 0 10px 10px 0;
}

.mainSection .temperature {
    font-size: 46px;
    margin: 75px auto 30px auto;
}