.card {
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;
    width: 250px;
    height: 350px;
    box-sizing: border-box;
    padding-top: 20px;

    background-color: #e0e0e0;
    border-radius: 5px;

    /*
    border-radius: 25px;
    background: #e0e0e0;
    box-shadow:  20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
    */
}

.card .temperature {
    font-size: 28px;
    font-weight: 600;
}

.card .icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.card .icon div {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 16px;
    font-weight: 500;
    transform: translateY(-125%);
}

.card .date {
    position: absolute;
    top: 15px;
    left: 25px;

    font-size: 16px;
    font-weight: 500;
}