.mainSection .container {
    display: flex;
    box-sizing: border-box;
    background-color: #dadada;
    width: 1000px;
    border-radius: 10px;

    margin-bottom: 25px;
}

/*  */

.mainSection .additionalInfo {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 65%;
    padding: 15px 0 0 25px;
}

.mainSection .city {
    font-size: 32px;
    font-weight: bold;
}

.mainSection .date {
    margin-top: 20px;
    font-size: 18px;
}


.mainSection button {
    position: absolute;
    bottom: 10px;
    right: 50%;
    transform: translateX(50%);
}

.mainSection .icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translateY(-50%) translatex(-50%);

    display: flex;
    flex-direction: column;
    align-items: center;
}

.mainSection .icon div {
    font-size: 24px;
    font-weight: 500;
    transform: translateY(-40px);
}

/*  */

.mainSection .weatherData {
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    width: 35%;
    height: auto;

    background-color: #818181;
    padding: 25px;
    border-radius: 10px;
}

.mainSection .temperature {
    font-size: 56px;

    margin: 75px auto 30px auto;
}